.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.gradle
build
gradle.properties
gradlew
local.properties
settings.gradle
.idea
gradle
gradlew.bat

CameraApp.iml
build.gradle
